body {
    padding:0px; margin:0px;
    font-family: Verdana;
}
#content {
    
}

#header {
    height: 45px;
    background-color: #E91E63;
    /* border-bottom: 1px dotted #9E9E9E; */
    margin-top: -3px;
    color: #FAFAFA;
    line-height: 45px;
}

h3 {
    margin: 3px;
    /* line-height: 35px; */
    font-weight: normal;
}

#responseBox {
    top: 55px;
    left: 5px;
    right: 5px;
    bottom: 90px;
    position: absolute;
    overflow: auto;
}

#chatBox {
    position: fixed;
    margin-left: 6px;
    height: 39px;
    bottom: 15px;
    display: block;
    padding: 2px;
    outline: none;
    font-size: 24px;
    border: none 2px #81d4fa87;
    border-radius: 6px;
    background-color: #eee;
}
    #chatBox:hover, #chatBox:focus {
        background-color: #e0e0e0;
    }

    .response {
        clear: both;
    }
.userResponse, .aliceResponse {
    margin: 0px 15px 5px 15px;
    padding: 5px;
    border-radius: 8px;
    display: inline-block;
    clear: both;
}

.userResponse {
    text-align: right;
    background-color: #FAFAFA;
    /* border: 1px dotted #9E9E9E; */
    float: right;
}

.aliceResponse {
    background-color: #e91e63;
    /* border: 1px dotted #E91E63; */
    color: #FAFAFA;
}

    .aliceResponse span, .userResponse span {
        font-weight: bold;
        display:none;
    }

.errorResponse{
    background-color:#ff0000;
    color:#fff;
}
.aliceResponse ul, .aliceResponse ol{
    margin: 1em 1em 1em 1em;
    padding: 0em 0em 0em 1em;
}

.aliceResponse .aliceRequestMarker {
    font-weight:normal;
    text-decoration: underline;
    color:#000;
}

/************************************************************************
       
************************************************************************/

